.block{
    width: 500px;
    height: 300px;
    border-top: dotted 5px black;
    border-right: solid 8px red;
    border-bottom: dashed 11px green;
    border-left: double 14px blue;
    border-radius: 30px;
    background-color: gray;   
}
.style{
    height: 700px;
    background-color: green;
}
.style > div{
    border: solid brown 3px;
    height: 60px;
    width: 700px;
    background-color: burlywood;
}
.style-in ~ p{
    text-align: center;
    background: tomato;
}
#text + a{
    background-color: yellow;
}
.elements{
    background-color: cadetblue;
    width: 500px;
    padding-bottom: 25px;
}

.elements div{
    width: 200px;
    height: 100px;
    border: brown 3px solid;
    display: inline-block;
    margin-left: 25px;
    background-color: olive;
}
#box{
    padding-top: 25px;
}
.elements div:hover{
    border-radius: 20px;
    background-color: black;
}
#box div:hover{
    border:blue 5px solid;
    width: 210px;
    height: 110px;
    background-color: red;
    border-radius: 0 20px;
}
.pseudo-element{
    position: relative;
    width: 100px;
    height: 200px;
    border: black solid 5px;
    transform: rotate(90deg);
    margin-left: 100px;
}
.pseudo-element::after{
    content: ".";
    position: relative;
    right: -150px;
    bottom: -30px;
    font-size: 80px;
}
.pseudo-element-end{
    position: relative;
    width: 100px;
    height: 200px;
    border: black solid 5px;
    transform: rotate(90deg);
    margin-left: 100px;
}
